.container h1 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.searchContainer {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-radius: 12px;
    border: solid 1px #474747;
    margin-top: 0.5em;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.searchContainer button.searchButton {
    background-color: #24a0ed;
    color: #fff;
    padding: 13px;
    border: 25px;
    border-radius: 12px;
    margin-bottom: 6px;
    cursor: pointer;
    width: 150px;
  }

.searchContainer select {
    width: 100%;
    margin-top: 10px; 
    padding: 9px;
    border: 10%;
    border-radius: 12px;
    border: solid 2px;
}

.searchContainer > div {
    width: 25%;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
}

.searchContainer > div:last-child {
    align-self: flex-end;
}

.searchContainer label,
.searchContainer input,
.searchContainer select {
    margin: 5px auto;
}

.searchContainer select option[disabled] {
    color: #888;
}

.searchContainer .datePicker {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 12px;
}

.datepicker {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 50px;
  }


